.portolio_container {
    display:grid;
    grid-template-columns: repeat(3,33%);  /* 3 columns */
    grid-gap:50px 30px;
}

.portfolio_video {
    position: relative;
    border:1px dashed #6d6d6d;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .portfolio_title {text-align:center}
  /* .circle video {border-radius: 50%;aspect-ratio: 1;} */
  .portIntoText {margin-bottom:50px;}
  .underlineText {text-decoration:underline;cursor:pointer}
  .navigation svg {font-size: 1.5rem;}
  .backNavPort {display:flex;cursor:pointer}
  .backText {margin-left:5px;}
.smallTextPos {position:relative;font-size:1.2rem;   top: -20px;
  left: 100px}
  .mtop0 {margin-top:0px;} 
  .portfolioItemText {margin-top:3rem;}
@media (max-width: 1200px) {
  .portfolioItemText {margin-top:1.7rem;}
}
@media (max-width: 600px) {
.smallTextPos {left:0px;}
.container .portfolioItemText:last-child {display:none}
 }
}
