.toggleWrapper {
    position: relative;
    transition: all .3s ease-in;
    width: 215px;
    height: 105px;
    background: tranparent;
    border-radius: 0 125px 125px 0;
    border: 2px solid #a2a2a2;
    z-index: 4;
  }
  .beneathToggle {
    position: relative;
    z-index: 1;
    width: 215px;
    height: 105px;
  }
  #toggleCheckShape {
    position: relative;
    transition: all .3s ease-in;
    width: 215px;
    height: 105px;
    background: tranparent;
    border-radius: 0 125px 125px 0;
    border: 2px solid #a2a2a2;
  }
  
  .toggle {
    transition: all 1.5s ease-in-out;
    position: absolute;
    top: 9px;
    left: 9px;
    height: 82px;
    width: 82px;
    background-color: #333333;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 2;
    border-color:transparent;
  }
    
  .toggle.circle {
        background-color: #313131;
        height: 86px;
        width: 86px;
        border-radius: 50%;
        top: 7px;
        left: 116px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  }

  .toggleWrapper .poz {
    position:absolute;
    border:1px dashed #c1c1c1;
    z-index: 1;
    background:transparent;
    height: 86px;
    width:86px;
    top: 7px;
    cursor:pointer;
}

  .poz.dashCircle {
    border-radius: 50%;
    right:6px;
    height: 92px;
    width:92px;
    top: 4px;
  }
  .poz.dashSquare {
    left:7px;
  }