.header__socials {
    display: inline-block;
    text-decoration: underline;
    color:#333;
    
}
.formLabel {width:100px}
.containInput {width:100%;margin-bottom:10px;}
form {width:100%}
.formTextArea {height:100px;resize: none;}
.hideButAsDiv {background:none;border:none;}
.textUnderline {text-decoration: underline;}
.hideButAsDiv svg {margin-left: 10px;
    position: relative;
    top: 5px;
    font-size: 24px;
}
.hideButAsDiv h2 {display:inline}
.containInput div {font-size:1.5rem}
.containInput input {
    font-size:1.5rem;
width: 100%;
background: none;
border: 2px solid rgb(255, 255, 255);
height: 40px;}