@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Josefin+Sans&family=Montserrat&family=Questrial&display=swap');


* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-bg: #8393A2;
    --color-text: #333333;

    --container-width-lg:75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 400ms ease;
}

::-webkit-scrollbar {
    display:none
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Questrial', sans-serif;
    color: var(--color-text);
    background:var(--color-bg);
    font-size:62.5%;
    background:#6d6d6d;
    min-height:100vh;
    min-width:100%;
    display:flex;
    margin:0;
    overflow:hidden;
}

.container {
    width:var(--container-width-lg);
    margin:0 auto;
}

h2, h3, h4, h5 {
    font-weight:400;
    transition: all 1s;
    line-height: 1.4rem;
}

h2 {
    font-size:1.5rem;
}

p {
    transition: all 1s;
    line-height: 1.5rem;
    font-size:1.5rem;
}

span {
    font-size:1.5rem;
}

button {color:#333}

h1 {
    font-size:4.5rem;
    font-weight:400;
    transition: all 1s;
    line-height: 4.4rem;
}

section {
    margin-top:8rem;
}
@media (max-width: 1200px) {
        h2, h3, h4, h5 {
        font-weight:400;
        transition: all 1s;
        line-height: 1.2rem;
    }

    h2 {
        font-size:1.3rem;
    }

    p {
        transition: all 1s;
        line-height: 1rem;
        font-size:1rem;
    }

    span {
        font-size:1rem;
    }

    button {color:#333}

    h1 {
        font-size:2.1rem;
        font-weight:400;
        transition: all 1s;
        line-height: 2rem;
    }
}

.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-by-row {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-gap: 40px;
    margin-top:30px;
}
.allContain {
    display:flex;
    flex-direction: column;
    width:100%
}
.shapeContain {
    height: calc(100vh - 15vh);
    width: 100%;
    position:relative;
}
.navContain {
    display: flex;
    height:15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.shape {
    box-shadow: 9px 17px 20px 12px rgba(0,0,0,0.25);
    -webkit-box-shadow: 9px 17px 20px 12px rgb(0 0 0 / 25%);
    -moz-box-shadow: 9px 17px 20px 12px rgba(0,0,0,0.25);
    background:var(--color-bg);
    aspect-ratio : 1 / 1;
    box-shadow: 9px 17px 20px 12px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 9px 17px 20px 12px rgb(0 0 0 / 25%);
    -moz-box-shadow: 9px 17px 20px 12px rgba(0,0,0,0.25);
    background: var(--color-bg);
    aspect-ratio: 1 / 1;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 15px;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shape.circle {
    border-radius: 50%;
}
.inkycircle {
    background:url("./assets/ink-cr-10.png");
    aspect-ratio: 1 / 1;
    background-size: cover;
    opacity: 1;
    z-index:-1;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    transition: all 1s ease-in-out;
    animation: fadeIn 1s;
}
.inkysquare {
    background:url("./assets/ink-sq-10.png");
    aspect-ratio: 1 / 1;
    background-size: cover;
    opacity: 1;
    z-index:-1;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position:absolute;
    transition: all 1s ease-in-out;
    animation: fadeIn 1s;
}
.bigInky {width:85vw;position:absolute;left:32%;bottom:21%;}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.tready {
    transition: all 1.5s ease-in-out;
}
.whiteFont {color:#d5d5d5}
.whiteFont a, .whiteFont input, .whiteFont textarea {color:#d5d5d5}
.whiteFont .hideButAsDiv h2, .whiteFont .hideButAsDiv svg {color:#d5d5d5}

#sideA {

}
#sideB {
 
}
#sideC {

}

  .Typewriter__cursor {
    display:none;
}
#root, .allContain {width:100%}
.allContain {padding:10px;}
/* mobile css */
@media (max-width: 600px) {
    html {min-width:100%;}
    .shape { top :-20px;padding:20px;}
    .shape div  {max-width:96vw}
    .inkycircle, .inkysquare, .shape {width:100%;}
    .inkycircle, .inkysquare {display:none}
/*    .smallText {display:none}*/
    .startControls {display:none}
    .allContain {padding:5px;}
    .container {padding:50px 0px;}
    
}
@media (max-height: 650px) {
    .startControls {display:none}
}